<a href="https://colab.research.google.com/github/AhmadIsmail83N/MyData/blob/master/%D0%BB%D0%B0%D0%B12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
pd.set_option('display.max.columns', 100)
# to draw pictures in jupyter notebook
%matplotlib inline 
import matplotlib.pyplot as plt
import seaborn as sns
# we don't like warnings
# you can comment the following 2 lines if you'd like to
import warnings
warnings.filterwarnings('ignore')

In [0]:
data = pd.read_csv('/content/sample_data/diamonds.csv')
data.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

In [0]:
data["color"].value_counts()

G    11292
E     9797
F     9542
H     8304
D     6775
I     5422
J     2808
Name: color, dtype: int64

In [0]:
data["cut"].value_counts()

Ideal        21551
Premium      13791
Very Good    12082
Good          4906
Fair          1610
Name: cut, dtype: int64

What is the mean average of price of diamonds color D

In [0]:
data[data["color"] == "D"]["price"].mean()

3169.9540959409596

What is the percentage of Ideal type ?

In [0]:
print("{0:%}".format(data[data["cut"] == "Ideal"]
.shape[0] / data.shape[0]))

39.953652%

build a fucntion to check if cut in group high cutted

then chek if true if all diamnds prices higher than 2000 are in this group

In [0]:
high_cut = set(["Ideal", "Premium"])
def high_cutted(e):
  return e in high_cut
data[data["price"] == ">2000"]["cut"].map(high_cutted).all()

True

use groupby and describe to show data prices according to features : cut and color

In [0]:
data.groupby(["cut", "color"])["price"].describe()

                  count         mean          std    min      25%     50%  \
cut       color
Fair      D       163.0  4291.061350  3286.114238  536.0  2204.50  3730.0
          E       224.0  3682.312500  2976.651645  337.0  1589.50  2956.0
          F       312.0  3827.003205  3223.302685  496.0  1641.75  3035.0
          G       314.0  4239.254777  3609.644379  369.0  1985.00  3057.0
          H       303.0  5135.683168  3886.481847  659.0  2457.50  3816.0
          I       175.0  4685.445714  3730.271132  735.0  2324.00  3246.0
          J       119.0  4975.655462  4050.458933  416.0  2313.00  3302.0
Good      D       662.0  3405.382175  3175.148710  361.0   957.25  2728.5
          E       933.0  3423.644159  3330.702061  327.0   969.00  2420.0
          F       909.0  3495.750275  3202.411187  357.0  1214.00  2647.0
          G       871.0  4123.482204  3702.504718  394.0  1244.50  3340.0
          H       702.0  4276.254986  4020.660488  368.0  1128.75  3468.5
          I       522.0  5078.532567  4631.702141  351.0  1681.00  3639.5
          J       307.0  4574.172638  3707.790845  335.0  1824.00  3733.0
Ideal     D      2834.0  2629.094566  3001.069919  367.0   854.25  1576.0
          E      3903.0  2597.550090  2956.007149  326.0   872.00  1437.0
          F      3826.0  3374.939362  3766.635328  408.0   900.25  1775.0
          G      4884.0  3720.706388  4006.262468  361.0   891.00  1857.5
          H      3115.0  3889.334831  4013.375228  357.0   815.50  2278.0
          I      2093.0  4451.970377  4505.150405  348.0   849.00  2659.0
          J       896.0  4918.186384  4476.206836  340.0  1132.50  4096.0
Premium   D      1603.0  3631.292576  3711.634010  367.0   958.00  2009.0
          E      2337.0  3538.914420  3794.987184  326.0   964.00  1928.0
          F      2331.0  4324.890176  4012.022756  342.0  1122.00  2841.0
          G      2924.0  4500.742134  4356.571034  382.0   984.00  2745.0
          H      2360.0  5216.706780  4466.189717  368.0  1168.25  4511.0
          I      1428.0  5946.180672  5053.746146  334.0  1697.50  4640.0
          J       808.0  6294.591584  4788.936691  363.0  2202.75  5063.0
Very Good D      1513.0  3470.467284  3523.753268  357.0   850.00  2310.0
          E      2400.0  3214.652083  3408.023634  352.0   755.00  1989.5
          F      2164.0  3778.820240  3786.124033  357.0   905.75  2471.0
          G      2299.0  3872.753806  3861.375464  354.0   854.00  2437.0
          H      1824.0  4535.390351  4185.798202  337.0  1089.75  3734.0
          I      1204.0  5255.879568  4687.104775  336.0  1810.75  3888.0
          J       678.0  5103.513274  4135.652742  336.0  1897.50  4113.0

                     75%      max
cut       color
Fair      D      4797.00  16386.0
          E      4518.25  15584.0
          F      4791.00  17995.0
          G      5071.00  18574.0
          H      6598.00  18565.0
          I      5905.50  18242.0
          J      5915.00  18531.0
Good      D      4581.00  18468.0
          E      4535.00  18236.0
          F      4432.00  18686.0
          G      5599.50  18788.0
          H      5208.00  18640.0
          I      7921.50  18707.0
          J      6522.00  18325.0
Ideal     D      3102.00  18693.0
          E      3013.50  18729.0
          F      4121.50  18780.0
          G      5584.50  18806.0
          H      5606.00  18760.0
          I      6143.00  18779.0
          J      6731.50  18508.0
Premium   D      4915.00  18575.0
          E      4628.00  18477.0
          F      5988.00  18791.0
          G      6553.25  18741.0
          H      6727.50  18795.0
          I      8930.00  18823.0
          J      9050.25  18710.0
Very Good D      4633.00  18542.0
          E      4355.00  18731.0
          F      5007.00  18777.0
          G      5759.00  18818.0
          H      5887.25  18803.0
          I      7394.00  18500.0
          J      7534.00  18430.0

find max price of Ideal diamonds of color D

In [0]:
data[(data["color"] == "D")
& (data["cut"] == "Ideal")]["price"].max()

18693

Calculate the mean average of diamonds depth then

check of all which has depth > mean and price >900

In [0]:
m = data["depth"].mean()
print("MeanAverage is {} depth.".format(m))
diamonds = data[data["depth"] >= m]
c = diamonds.shape[0]
print("{} diamonds with depth greater than this are: ".format(c))
s = diamonds[diamonds["price"] >= 900].shape[0]
print("{0:%} get price of >900.".format(s / c))

MeanAverage is 61.74940489432624 depth.
28909 diamonds with depth greater than this are:
76.834204% get price of >900.

In [0]:
A = (pd.read_csv('/content/sample_data/diamonds.csv',
                 header=None,names=["color", "cut"])
   .drop("cut", axis=1))

ERROR! Session/line number was not unique in database. History logging moved to new session 74

In [0]:
A.head()

                                                           color   cut
NaN     carat cut     color clarity depth table price x        y     z
1.0     0.23  Ideal   E     SI2     61.5  55    326   3.95  3.98  2.43
2.0     0.21  Premium E     SI1     59.8  61    326   3.89  3.84  2.31
3.0     0.23  Good    E     VS1     56.9  65    327   4.05  4.07  2.31
4.0     0.29  Premium I     VS2     62.4  58    334   4.2   4.23  2.63

In [0]:
wind = (pd.read_csv('/content/sample_data/wind speed.csv', header=None,
names=["row", "UNIX", "date",
"time", "speed", "text"])
.drop("text", axis=1))

In [0]:
 wind.head()

   row        UNIX        date      time  speed
0    1  1475315718  2016-09-30  23:55:18   7.87
1    2  1475315423  2016-09-30  23:50:23   7.87
2    3  1475315124  2016-09-30  23:45:24   9.00
3    4  1475314821  2016-09-30  23:40:21  13.50
4    5  1475314522  2016-09-30  23:35:22  15.75

In [0]:
wind.dtypes

row        int64
UNIX       int64
date      object
time      object
speed    float64
dtype: object

In [0]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [0]:
 pysqldf(""" SELECT w.row, w.UNIX, w.date, w.time,w.speed
FROM wind w
where w.speed>9 
""").head()

   row        UNIX        date      time  speed
0    4  1475314821  2016-09-30  23:40:21  13.50
1    5  1475314522  2016-09-30  23:35:22  15.75
2    7  1475313921  2016-09-30  23:25:21  10.12
3    8  1475313621  2016-09-30  23:20:21  10.12
4    9  1475313321  2016-09-30  23:15:21  14.62

In [0]:
wind.groupby("date")["speed"].mean().head()

date
2016-09-01    6.396560
2016-09-02    5.804086
2016-09-03    4.960248
2016-09-04    5.184571
2016-09-05    5.830676
Name: speed, dtype: float64

In [0]:
 pysqldf("""SELECT row,time, AVG(speed)
FROM wind
GROUP BY date
""").head()

    row      time  AVG(speed)
0  7696  00:00:08    6.396560
1  7446  00:00:04    5.804086
2  7167  00:00:04    4.960248
3  6885  00:00:06    5.184571
4  6605  00:00:05    5.830676

In [0]:
%%timeit
pysqldf("""SELECT date, AVG(speed)
FROM wind
GROUP BY date
""")

1 loop, best of 3: 204 ms per loop